
td { font-size: 25px;
     color: black;
   }
 

p {   font-size : 28px;
      text-align : center;
      color:#00FFFF;
      text-decoration:underline;
      background-color:black;
      border : solid #eb8c34 6px;
      padding :3px;
  }
 	
