
td { font-size: 26px;
     color: black;
   }
 

p {   font-size : 24px;
      text-align : center;
      color: #9388ff;
      text-decoration: underline;
      background-color: #bae5d5;
      border : solid black 4px;
      padding :4px;
  }
 	
