
td { font-size: 25px;
     color: black;
   }
 

p {   font-size : 28px;
      text-align : center;
      color:#F2AA4CFF;
      text-decoration:underline;
      background-color : pink;
      border : dotted white 14px;
      padding : 30px
  }
 	
